.prices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main {
    padding: 30px;
    margin: 30px;
}
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    z-index: -1;
    padding: 20px;
}

.btn {
    border: 3px solid var(--c-second-text);
    display: inline-block;
    padding: 10px;
    position: relative;
    text-align: center;
    transition: background 600ms ease, color 600ms ease;
}

input[type='radio'].toggle {
    display: none;
    & + label {
        color: var(--c-primary-text);
        cursor: pointer;
        min-width: 90px;
        &:hover {
            background: none;
            color: var(--c-theme);
        }
        &:after {
            background: var(--c-theme);
            content: '';
            height: 100%;
            position: absolute;
            top: 0;
            transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
            width: 100%;
            z-index: -1;
        }
    }
    &.left + label {
        border-right: 0;
        &:after {
            left: 100%;
        }
    }
    &.right + label {
        &:after {
            left: -100%;
        }
    }
    &:checked + label {
        cursor: default;
        color: #fff;
        transition: color 200ms;
        &:after {
            left: 0;
        }
    }
}
