.priceTable {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 5px solid;
    box-sizing: border-box;
    border-radius: 30px;
    color: var(--c-primary-text);
    min-width: 350px;
    margin: 20px;
}

.title {
    padding: 30px;
    align-self: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
}

.spec {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    align-self: center;
}

.innerspec {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--c-plan-spec);
    margin-top: 10px;
    margin-bottom: 10px;
    color: currentColor;
}

.specText {
    margin-left: 20px;
}

.unconfirm {
    color: var(--c-second-text);
}

.unconfirmText {
    color: var(--c-primary-text);
}

.icon {
    margin-left: 10px;
    opacity: 1;
}

.price {
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    padding: 10px 0 10px 10px;
}

.btn {
    flex: none;
    align-self: center;
    color: black;
    padding: 10px;
}

.subscription {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0;
    text-align: center;
}
