.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 33px;
}

.parent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--c-background);
    z-index: 50;
}
