:root {
    --c-background: #101321;
    --c-theme: #ff7242;
    --c-second-text: #979799;
    --c-primary-text: #ffffff;
    --c-second-background: #272d46;
    --c-plan-spec: rgba(255, 255, 255, 0.1);
    --c-price-super: #ff6442;
    --c-price-middle: #ff833d;
    --c-price-little: #ff9d42;
    --c-price-super-70: #ff6442b3;
    --c-price-middle-70: #ff833db3;
    --c-price-little-70: #ff9d42b3;
    --c-price-super-50: #ff644280;
    --c-price-middle-50: #ff833d80;
    --c-price-little-50: #ff9d4280;
    --c-red: #ff0000;
}
